(function (window) {
    window['env'] = window['env'] || {};
    window['env']['production'] = {{ default .Env.PRODUCTION "false" }};
    window['env']['baseUrl'] = "{{ default .Env.BASE_URL "" }}";
    window['env']['default_Language'] = "English";
})(this);
