(function(window) {
    window['env'] = window['env'] || {};

    window['env']['production'] = {{ default .Env.PRODUCTION "true" }}
    window['env']['baseUrl'] = "{{ default .Env.BASE_URL "https://mykare360-dev.hatiintl.com/" }}"
    window['env']['default_Language'] = "{{ default .Env.DEFAULT_LANGUAGE "English" }}"
})(this);
